.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
}

.description {
	max-width: 800px;
	font-size: 16px;
}

.favorite {
	margin-left: 30px;
	font-size: 24px;
	cursor: pointer;
}
